## Python notebook to load, and merge the three datasets:
#### Barro lee, Life expectancy, Suicide rate

#### Before the merge, countries names are corrected in barro lee data so that the barro lee  data can be joined with the two datasets. Datasets are joined on country and year.

In [2]:
import pandas as pd
import numpy as np
import os

### Change root_folder to the path on your PC where the csv dataset csv files are located

In [3]:
root_folder = "C:\\Users\\amnag\\HCDE511_DataViz\\Project"

In [4]:
#One time conversion of stata dta file to csv 
barro_lee_data = pd.io.stata.read_stata('C:\\Users\\amnag\\HCDE511_DataViz\\Project\\LeeLee_v1.dta')
barro_lee_data.to_csv('LeeLee_v1.csv',index=False)

### Read the three datasets in memory as dataframes

In [5]:
barro_lee_data = pd.read_csv(os.path.join(root_folder,"LeeLee_v1.csv"),header=0)
life_expectancy_data = pd.read_csv(os.path.join(root_folder,"life-expectancy.csv"),header=0)
suicide_death_rate_data = pd.read_csv(os.path.join(root_folder,"suicide-death-rates.csv"),header=0)

### Explore the top 5 rows of each dataset

In [6]:
barro_lee_data.head(n=5)

,region_code,BLcode,country,year,sex,pri,sec,ter,lu,lp,...,lsc,lh,lhc,tyr,pyr,syr,hyr,hc,hca,pop
0,Advanced Economies,131.0,Australia,1820.0,F,21.600943,0.000000,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Advanced Economies,131.0,Australia,1825.0,F,23.790178,0.000000,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Advanced Economies,131.0,Australia,1830.0,F,26.128277,0.001516,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Advanced Economies,131.0,Australia,1835.0,F,28.611013,0.003978,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Advanced Economies,131.0,Australia,1840.0,F,31.231255,0.008069,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
life_expectancy_data.head(5)

        Entity Code  Year  Life expectancy (years)
0  Afghanistan  AFG  1950                   27.638
1  Afghanistan  AFG  1951                   27.878
2  Afghanistan  AFG  1952                   28.361
3  Afghanistan  AFG  1953                   28.852
4  Afghanistan  AFG  1954                   29.350

In [8]:
suicide_death_rate_data.head(5)

,Entity,Code,Year,"Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate) (deaths per 100,000 individuals)"
0,Afghanistan,AFG,1990,10.318504
1,Afghanistan,AFG,1991,10.327010
2,Afghanistan,AFG,1992,10.271411
3,Afghanistan,AFG,1993,10.376123
4,Afghanistan,AFG,1994,10.575915

### Datasets will be joined on country and year. Find distinct countries in each dataset to detect join issues

In [9]:
barro_lee_countries = set(barro_lee_data.country.unique())

In [10]:
life_expectancy_countries = set( life_expectancy_data.Entity.unique())

In [11]:
suicide_death_rate_countries = set( suicide_death_rate_data.Entity.unique())

In [12]:
barro_lee_countries

{'Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Australia',
 'Austria',
 'Bangladesh',
 'Barbados',
 'Belgium',
 'Belize',
 'Benin',
 'Bolivia',
 'Brazil',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo, D.R.',
 'Costa Rica',
 'Cote dIvoire',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Rep.',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Fiji',
 'Finland',
 'France',
 'Gambia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kenya',
 'Kuwait',
 'Lesotho',
 'Liberia',
 'Libya',
 'Luxembourg',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritius',
 'Mexico',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Norway',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Republic of Korea',
 'Reunion',
 'Romania',
 'Russian Federation',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'USA',
 'Uganda',
 'United Kingdom',
 'Uruguay',
 'Venezuela',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [13]:
life_expectancy_countries

{'Afghanistan',
 'Africa',
 'Albania',
 'Algeria',
 'American Samoa',
 'Americas',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Europe',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latin America and the Caribbean',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia (country)',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North Korea',
 'Northern America',
 'Northern Mariana Islands',
 'Norway',
 'Oceania',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Barthlemy',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna',
 'Western Sahara',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

suicide_death_rate_countries

### Find the countries in barro-lee that are not in life expectancy. These countries will either not be present in life expactancy or if present will have a slightly different name

In [14]:
barro_lee_countries.difference(life_expectancy_countries)

{'Congo, D.R.',
 'Cote dIvoire',
 'Dominican Rep.',
 'Hong Kong, China',
 'Republic of Korea',
 'Russian Federation',
 'USA'}

### Find the countries in barro-lee that are not in suicide data. These countries will either not be present in suicide data or if present will have a slightly different name

In [15]:
barro_lee_countries.difference(suicide_death_rate_countries)

{'Congo, D.R.',
 'Cote dIvoire',
 'Dominican Rep.',
 'Hong Kong, China',
 'Republic of Korea',
 'Reunion',
 'Russian Federation',
 'USA'}

### After some analysis, found that below countries in suicide/life-expectancy are similar, but different than barro lee 
'Congo, D.R.','Cote dIvoire','Dominican Rep.','Hong Kong, China','Republic of Korea','Reunion','Russian Federation','USA'

Renaming these in barrolee data

In [16]:
#Country cleanup in barrolee
barro_lee_data.loc[(barro_lee_data.country == 'Congo, D.R.'),'country']= 'Democratic Republic of Congo'
barro_lee_data.loc[(barro_lee_data.country == 'Cote dIvoire'),'country']= 'Cote d\'Ivoire'
barro_lee_data.loc[(barro_lee_data.country == 'Dominican Rep.'),'country']= 'Dominican Republic'
barro_lee_data.loc[(barro_lee_data.country == 'Hong Kong, China'),'country']= 'Hong Kong'
barro_lee_data.loc[(barro_lee_data.country == 'Republic of Korea'),'country']= 'South Korea'
#assumption based on wikipedia article: https://en.wikipedia.org/wiki/South_Korea
#"Reunion" and "Hong Kong" is not present at all in suicide_death_rate_countries
barro_lee_data.loc[(barro_lee_data.country == 'Russian Federation'),'country']= 'Russia'
barro_lee_data.loc[(barro_lee_data.country == 'USA'),'country']= 'United States'

### Renaming a very long column name in suicide data to a simple name

In [17]:
suicide_death_rate_data.rename(columns = {'Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate) (deaths per 100,000 individuals)':'SuicideRate'},inplace=True)

### First merge barro lee with life expectancy and then merge this data with suicide rate
Drop extra column that are generated by the merge like year, country name(Entity) and country code

In [18]:
merged_data = barro_lee_data.merge(life_expectancy_data,left_on=['country','year'],right_on=['Entity','Year'],how = 'left').reset_index(drop=True)
merged_data.drop(['Year','Entity','Code'],axis=1,inplace=True)
merged_data = merged_data.merge(suicide_death_rate_data,left_on=['country','year'],right_on=['Entity','Year'],how = 'left').reset_index(drop=True)
merged_data.drop(['Year','Entity','Code'],axis=1,inplace=True)

In [19]:
merged_data

,region_code,BLcode,country,year,sex,pri,sec,ter,lu,lp,...,lhc,tyr,pyr,syr,hyr,hc,hca,pop,Life expectancy (years),SuicideRate
0,Advanced Economies,131.0,Australia,1820,F,21.600943,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Advanced Economies,131.0,Australia,1825,F,23.790178,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Advanced Economies,131.0,Australia,1830,F,26.128277,0.001516,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Advanced Economies,131.0,Australia,1835,F,28.611013,0.003978,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Advanced Economies,131.0,Australia,1840,F,31.231255,0.008069,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Advanced Economies,131.0,Australia,1845,F,33.978825,0.014664,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Advanced Economies,131.0,Australia,1850,F,36.840473,0.025063,0.000513,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Advanced Economies,131.0,Australia,1855,F,39.800011,0.041186,0.001204,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Advanced Economies,131.0,Australia,1860,F,42.838554,0.065859,0.002319,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Advanced Economies,131.0,Australia,1865,F,45.934959,0.103209,0.004070,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Advanced Economies,131.0,Australia,1870,F,49.066364,0.159246,0.006768,64.625549,35.302574,...,0.010496,1.325692,1.321551,0.003531,0.000610,1.141758,1.246868,398.000000,NaN,NaN
11,Advanced Economies,131.0,Australia,1875,F,52.208843,0.242676,0.010862,61.617081,38.266212,...,0.008973,1.475490,1.469958,0.004952,0.000579,1.158990,1.274677,466.328583,NaN,NaN
12,Advanced Economies,131.0,Australia,1880,F,55.338127,0.366043,0.017000,54.880211,44.738167,...,0.007892,1.734197,1.719906,0.013731,0.000560,1.189365,1.343384,579.000000,NaN,NaN
13,Advanced Economies,131.0,Australia,1885,F,58.430359,0.547327,0.026115,48.631771,48.108986,...,0.007107,2.133521,2.022264,0.110708,0.000549,1.237820,1.591998,698.317688,49.049999,NaN
14,Advanced Economies,131.0,Australia,1890,F,47.874229,0.812123,0.039542,43.086735,51.337112,...,0.007647,2.485188,2.294355,0.190200,0.000634,1.282125,1.756527,851.000000,NaN,NaN
15,Advanced Economies,131.0,Australia,1895,F,52.051582,1.196563,0.059183,41.545540,52.802021,...,0.009176,2.562349,2.367587,0.193948,0.000815,1.292056,1.782444,998.896362,52.950001,NaN
16,Advanced Economies,131.0,Australia,1900,F,56.228935,1.751091,0.087749,33.084061,59.613346,...,0.010872,2.999123,2.743701,0.254406,0.001017,1.349741,1.944242,1217.000000,NaN,NaN
17,Advanced Economies,131.0,Australia,1905,F,60.406288,2.545099,0.129076,28.711498,61.077351,...,0.014134,3.362473,3.002437,0.358656,0.001380,1.399685,2.127332,1226.731934,57.000000,NaN
18,Advanced Economies,131.0,Australia,1910,F,64.583641,3.672064,0.188590,22.742756,64.435608,...,0.246044,3.823978,3.330785,0.467338,0.025856,1.465795,2.409557,1348.000000,NaN,NaN
19,Advanced Economies,131.0,Australia,1915,F,68.760994,5.254239,0.273931,17.820641,74.644661,...,0.499761,3.805995,3.464849,0.293342,0.047805,1.463162,2.342686,1532.908569,NaN,NaN
20,Advanced Economies,131.0,Australia,1920,F,72.938354,7.444720,0.395817,13.662189,71.052559,...,0.768458,4.494614,3.838745,0.586238,0.069631,1.567468,2.770350,1698.000000,NaN,NaN
21,Advanced Economies,131.0,Australia,1925,F,77.115707,10.423064,0.569217,10.712317,61.745949,...,1.168685,5.387148,4.231200,1.050641,0.105307,1.713803,3.305862,1902.275146,63.160000,NaN
22,Advanced Economies,131.0,Australia,1930,F,81.293060,14.378821,0.814931,7.992402,58.697914,...,1.504210,5.910567,4.499953,1.280131,0.130483,1.805896,3.583981,2154.000000,64.889999,NaN
23,Advanced Economies,131.0,Australia,1935,F,85.470413,14.973808,1.161658,5.829699,54.885338,...,1.884482,6.429725,4.751122,1.521042,0.157560,1.902127,3.856606,2154.000000,65.089996,NaN
24,Advanced Economies,131.0,Australia,1940,F,89.647766,19.008707,1.648647,4.430081,51.415234,...,2.306958,6.853596,4.944366,1.725694,0.183536,1.984485,4.082880,2314.062012,66.230003,NaN
25,Advanced Economies,131.0,Australia,1945,F,93.825119,23.972960,2.156324,2.989879,47.831234,...,2.749980,7.272450,5.124385,1.938675,0.209389,2.069372,4.300646,2496.000000,68.449997,NaN
26,Advanced Economies,131.0,Australia,1950,F,98.002472,34.970230,5.552052,1.167580,44.256046,...,4.185261,7.989926,5.463885,2.258196,0.267845,2.223300,4.684084,2645.000000,68.845000,NaN
27,Advanced Economies,131.0,Australia,1955,F,100.000000,39.663769,3.434282,1.005533,39.719032,...,4.585329,8.238136,5.454878,2.489818,0.293441,2.279175,4.826049,2817.000000,69.998000,NaN
28,Advanced Economies,131.0,Australia,1960,F,82.295654,54.252872,7.070000,0.845263,34.896114,...,5.037386,8.544991,5.479297,2.744556,0.321138,2.350197,4.967240,3079.000000,70.738000,NaN
29,Advanced Economies,131.0,Australia,1965,F,83.878258,55.172413,9.710000,0.660746,29.229298,...,5.567954,8.971133,5.551297,3.056444,0.363391,2.452513,5.119580,3485.000000,70.824000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12957,Sub-Saharan Africa,47.0,Zimbabwe,1865,MF,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12958,Sub-Saharan Africa,47.0,Zimbabwe,1870,MF,0.000000,0.000000,0.000000,100.000000,0.020000,...,0.010345,0.005347,0.002616,0.002124,0.000607,1.000535,1.065005,670.600647,NaN,NaN
12959,Sub-Saharan Africa,47.0,Zimbabwe,1875,MF,0.000000,0.000000,0.000000,100.000000,0.020000,...,0.010389,0.005350,0.002617,0.002125,0.000608,1.000535,1.065073,704.793945,NaN,NaN
12960,Sub-Saharan Africa,47.0,Zimbabwe,1880,MF,0.000000,0.000000,0.000000,100.000000,0.020000,...,0.010434,0.005354,0.002619,0.002126,0.000609,1.000535,1.065145,738.790100,NaN,NaN
12961,Sub-Saharan Africa,47.0,Zimbabwe,1885,MF,0.000000,0.000000,0.000000,100.000000,0.020000,...,0.010481,0.005358,0.002620,0.002128,0.000610,1.000536,1.065221,776.926880,NaN,NaN
12962,Sub-Saharan Africa,47.0,Zimbabwe,1890,MF,0.000000,0.000000,0.000000,100.000000,0.020000,...,0.010530,0.005362,0.002622,0.002129,0.000611,1.000536,1.065303,814.842590,NaN,NaN
12963,Sub-Saharan Africa,47.0,Zimbabwe,1895,MF,0.809939,0.001091,0.000000,100.000008,0.020000,...,0.010582,0.005367,0.002624,0.002131,0.000612,1.000537,1.065391,857.434814,NaN,NaN
12964,Sub-Saharan Africa,47.0,Zimbabwe,1900,MF,2.361279,0.002900,0.000000,99.937332,0.078317,...,0.010637,0.007223,0.004478,0.002132,0.000613,1.000723,1.065671,899.778809,NaN,NaN
12965,Sub-Saharan Africa,47.0,Zimbabwe,1905,MF,5.101611,0.006039,0.000000,99.650818,0.359967,...,0.010694,0.016227,0.013479,0.002134,0.000614,1.001624,1.066843,947.411133,NaN,NaN
12966,Sub-Saharan Africa,47.0,Zimbabwe,1910,MF,9.605610,0.011308,0.000000,98.280975,1.720299,...,0.010754,0.060080,0.057256,0.002209,0.000615,1.006026,1.072776,994.764404,NaN,NaN
12967,Sub-Saharan Africa,47.0,Zimbabwe,1915,MF,20.483185,0.019943,0.000000,96.544067,3.446198,...,0.010817,0.115916,0.112906,0.002393,0.000616,1.011659,1.080982,1048.104736,NaN,NaN
12968,Sub-Saharan Africa,47.0,Zimbabwe,1920,MF,31.360760,0.033843,0.000000,94.079208,5.897235,...,0.010880,0.196389,0.192949,0.002822,0.000618,1.019833,1.093887,1101.131104,NaN,NaN
12969,Sub-Saharan Africa,47.0,Zimbabwe,1925,MF,48.608780,0.055909,0.000000,89.987671,9.970387,...,0.010948,0.331443,0.327326,0.003499,0.000619,1.033700,1.115238,1160.943726,NaN,NaN
12970,Sub-Saharan Africa,47.0,Zimbabwe,1930,MF,65.856796,0.090543,0.000000,83.982285,15.950114,...,0.011021,0.531425,0.526280,0.004524,0.000620,1.054580,1.146632,1220.402222,NaN,NaN
12971,Sub-Saharan Africa,47.0,Zimbabwe,1935,MF,58.874870,0.144398,0.000000,74.621689,24.609093,...,0.072333,0.895212,0.849650,0.039575,0.005988,1.093651,1.364560,1287.561523,NaN,NaN
12972,Sub-Saharan Africa,47.0,Zimbabwe,1940,MF,51.892941,0.227470,0.000000,68.127083,30.449123,...,0.198963,1.164634,1.079284,0.073007,0.012342,1.123516,1.504974,1354.321289,NaN,NaN
12973,Sub-Saharan Africa,47.0,Zimbabwe,1945,MF,58.934128,0.354697,0.000000,65.103050,32.823109,...,0.320903,1.277385,1.150856,0.108005,0.018524,1.136256,1.613517,1429.829102,NaN,NaN
12974,Sub-Saharan Africa,47.0,Zimbabwe,1950,MF,65.975319,0.548273,0.000000,58.230701,35.736607,...,0.456676,1.660291,1.326013,0.308394,0.025884,1.180607,1.939559,1506.000000,48.831000,NaN
12975,Sub-Saharan Africa,47.0,Zimbabwe,1955,MF,80.392380,1.088975,0.035126,50.942818,41.986919,...,0.640234,1.990935,1.591423,0.363330,0.036183,1.220296,2.069549,1695.000000,50.754000,NaN
12976,Sub-Saharan Africa,47.0,Zimbabwe,1960,MF,74.418602,6.000000,0.000000,43.381142,48.173496,...,0.838393,2.379431,1.904005,0.428284,0.047141,1.268637,2.194439,1928.000000,53.019000,NaN
12977,Sub-Saharan Africa,47.0,Zimbabwe,1965,MF,85.271317,6.000000,0.100000,37.079334,53.501480,...,1.043248,2.682690,2.144460,0.480224,0.058006,1.307699,2.311326,2162.000000,55.274000,NaN
12978,Sub-Saharan Africa,47.0,Zimbabwe,1970,MF,57.364342,7.000000,0.800000,28.804789,59.239632,...,1.228590,3.215964,2.548463,0.598563,0.068938,1.379328,2.487750,2529.000000,56.913000,NaN
12979,Sub-Saharan Africa,47.0,Zimbabwe,1975,MF,56.589149,9.000000,1.600000,25.337814,60.365463,...,1.445369,3.540181,2.744538,0.713382,0.082261,1.424781,2.638208,2985.000000,57.892000,NaN
12980,Sub-Saharan Africa,47.0,Zimbabwe,1980,MF,68.217056,8.000000,1.300000,24.903067,55.217892,...,1.785224,4.031467,2.895696,1.032448,0.103323,1.496526,3.016581,3492.000000,59.731000,NaN
12981,Sub-Saharan Africa,47.0,Zimbabwe,1985,MF,100.000000,43.000000,3.900000,20.477058,50.509361,...,2.276288,4.844682,3.218741,1.499900,0.126041,1.623312,3.426303,4366.000000,61.356000,NaN
12982,Sub-Saharan Africa,47.0,Zimbabwe,1990,MF,90.697678,50.000000,5.200000,12.184767,47.913025,...,2.299505,5.966071,3.737017,2.107880,0.121174,1.815947,3.929552,5399.000000,58.100000,17.760151
12983,Sub-Saharan Africa,47.0,Zimbabwe,1995,MF,90.697678,47.000000,6.300000,8.783281,41.849724,...,1.530871,6.848509,4.460082,2.305931,0.082496,1.983476,4.138783,6172.000000,50.480000,20.669548
12984,Sub-Saharan Africa,47.0,Zimbabwe,2000,MF,100.000000,40.000000,4.000000,6.584911,36.257595,...,0.681890,7.264412,5.051135,2.178656,0.034622,2.067709,3.652966,6813.000000,44.649000,30.026236
12985,Sub-Saharan Africa,47.0,Zimbabwe,2005,MF,97.000000,35.000000,4.000000,5.380046,36.315697,...,0.553176,7.653951,5.497790,2.127884,0.028277,2.149844,3.712261,7336.000000,43.241000,35.264474
12986,Sub-Saharan Africa,47.0,Zimbabwe,2010,MF,98.265656,43.407391,6.000000,3.633103,38.108826,...,0.466614,7.862442,5.894303,1.944123,0.024016,2.195137,3.676078,7814.000000,50.640000,32.366555

### Save merged data to a csv

In [20]:
merged_data.to_csv(os.path.join(root_folder,"edu_merged_data.csv"),header=1,index=False)

### Rate calculations

In [21]:
merged_data.shape

(12987, 24)

In [22]:
merged_data.dropna(subset=['Life expectancy (years)'],inplace=True)

In [23]:
merged_data.shape

(5661, 24)

In [51]:
results_country = pd.DataFrame(columns=['country','education_change_rate','life_expectancy_change_rate'])
for country, group_df in merged_data.groupby(['country']):
    group_df.dropna(subset=['tyr'],inplace=True)
    group_df.dropna(subset=['Life expectancy (years)'],inplace=True)
    
    start_year = np.min(group_df['year'])
    end_year = np.max(group_df['year'])
    start_life_expectancy = group_df[group_df['year'] == start_year]['Life expectancy (years)'].iloc[0]
    end_life_expectancy = group_df[group_df['year'] == end_year]['Life expectancy (years)'].iloc[0]
    life_expectancy_change_rate =  (end_life_expectancy - start_life_expectancy)/(end_year - start_year)
    
    start_total_schooling = group_df[group_df['year'] == start_year]['tyr'].iloc[2]
    end_total_schooling = group_df[group_df['year'] == end_year]['tyr'].iloc[2]
    education_change_rate =  (end_total_schooling - start_total_schooling)/(end_year - start_year)
    df = pd.DataFrame({"country":[country], 
                    "education_change_rate":[education_change_rate],  
                    "life_expectancy_change_rate":[life_expectancy_change_rate]}) 
    results_country = results_country.append(df,ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [58]:
results_country

,country,education_change_rate,life_expectancy_change_rate
0,Afghanistan,0.060862,0.556500
1,Albania,0.128114,0.372850
2,Algeria,0.102797,0.547517
3,Argentina,0.068296,0.311689
4,Australia,0.074416,0.263152
5,Austria,0.056129,0.330157
6,Bangladesh,0.088052,0.513783
7,Barbados,0.081480,0.433833
8,Belgium,0.063304,0.279800
9,Belize,0.066723,0.287517
10,Benin,0.067579,0.443667
11,Bolivia,0.075740,0.381882
12,Brazil,0.069139,0.405627
13,Bulgaria,0.086545,0.304745
14,Cambodia,0.071593,0.485538
15,Cameroon,0.094814,0.288600
16,Canada,0.080314,0.259906
17,Chile,0.079728,0.452536
18,China,0.099906,0.530112
19,Colombia,0.077308,0.422036
20,Costa Rica,0.059498,0.359661
21,Cote d'Ivoire,0.067878,0.401583
22,Cuba,0.093078,0.421255
23,Cyprus,0.095482,0.355809
24,Czech Republic,0.070780,0.315967
25,Democratic Republic of Congo,0.052881,0.309450
26,Denmark,0.068008,0.238900
27,Dominican Republic,0.073979,0.575575
28,Ecuador,0.089937,0.461067
29,Egypt,0.087255,0.436862
...,...,...,...
81,Portugal,0.100736,0.408643
82,Reunion,0.090053,0.560417
83,Romania,0.112204,0.215967
84,Russia,0.105471,0.347409
85,Senegal,0.025714,0.545908
86,Serbia,0.115515,0.265433
87,Sierra Leone,0.064503,0.357583
88,South Africa,0.094690,0.234417
89,South Korea,0.138645,0.747650
90,Spain,0.068027,0.428182
91,Sri Lanka,0.105566,0.388520
92,Sudan,0.052310,0.322433
93,Swaziland,0.067566,0.119967
94,Sweden,0.059672,0.261029
95,Switzerland,0.064945,0.306838
96,Syria,0.102630,0.427867
97,Taiwan,0.146693,0.386600
98,Thailand,0.105246,0.404583
99,Togo,0.095482,0.392350
100,Trinidad and Tobago,0.096707,0.252967
101,Tunisia,0.121931,0.612467
102,Turkey,0.104925,0.572183
103,Uganda,0.078877,0.435369
104,United Kingdom,0.082398,0.283907
105,United States,0.064299,0.301862
106,Uruguay,0.069738,0.252273
107,Venezuela,0.075844,0.410309
108,Yemen,0.063600,0.607533
109,Zambia,0.092694,0.222483
110,Zimbabwe,0.103369,0.030150

In [60]:
results_country.to_csv(os.path.join(root_folder,"edu\\data","country_edu_life_expectancy_rates.csv"),header=1,index=False)

In [56]:
results_region = pd.DataFrame(columns=['region_code','education_change_rate','life_expectancy_change_rate'])
for region, group_df in merged_data.groupby(['region_code']):
    print(region)
    group_df.dropna(subset=['tyr'],inplace=True)
    group_df.dropna(subset=['Life expectancy (years)'],inplace=True)
    
    start_year = np.min(group_df['year'])
    end_year = np.max(group_df['year'])
    start_life_expectancy = np.mean(group_df[group_df['year'] == start_year]['Life expectancy (years)'])
    end_life_expectancy = np.mean(group_df[group_df['year'] == end_year]['Life expectancy (years)'])
    life_expectancy_change_rate =  (end_life_expectancy - start_life_expectancy)/(end_year - start_year)
    
    start_total_schooling = np.mean(group_df[group_df['year'] == start_year]['tyr'])
    end_total_schooling = np.mean(group_df[group_df['year'] == end_year]['tyr'])
    education_change_rate =  (end_total_schooling - start_total_schooling)/(end_year - start_year)
    df = pd.DataFrame({"region_code":[region], 
                    "education_change_rate":[education_change_rate],  
                    "life_expectancy_change_rate":[life_expectancy_change_rate]}) 
    results_region = results_region.append(df,ignore_index=True)

Advanced Economies
Asia and the Pacific

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Eastern Europe
Latin America and the Caribbean
Middle East and North Africa
Sub-Saharan Africa

In [61]:
results_region.to_csv(os.path.join(root_folder,"edu\\data","region_edu_life_expectancy_rates.csv"),header=1,index=False)

#### Misc code to select data exploration teams

In [29]:
import random
edu_team = ['Shiyao', 'Amitabh', 'Anqi', 'Susan']
#random.seed(1)
team_49ers = random.sample(edu_team, k=2)
team_chiefs = set(edu_team) - set(team_49ers)
print('Team_49ers:',team_49ers)
print('Team_Chiefs:',team_chiefs)

Team_49ers: ['Susan', 'Amitabh']
Team_Chiefs: {'Shiyao', 'Anqi'}